/* App.css */
.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.event-input-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-input-container button {
  padding: 6px 12px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.event-input-container button:hover {
  background-color: #0056b3;
}

.events-list {
  margin-top: 20px;
  width: 80%;
}

.events-list h3 {
  text-align: center;
}

.events-list ul {
  list-style-type: none;
  padding: 0;
}

.events-list li {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.events-list li button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.events-list li button:hover {
  background-color: #ddd;
}

.events-list li button:nth-child(2) {
  background-color: #28a745;
  color: white;
}

.events-list li button:nth-child(3) {
  background-color: #dc3545;
  color: white;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:nth-child(2) {
  background-color: #28a745;
  color: white;
}

.modal-content button:nth-child(3) {
  background-color: #dc3545;
  color: white;
}

.modal-content button:hover {
  opacity: 0.8;
}
